{% extends 'base.html.twig' %}

{% block title %}Le panier{% endblock %}

{% block content %}


    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col"></th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            

            {% set total = null %}
            {% set Quantité = null %}
            {% for produit in cart %}
            <tr>
                <th>
                    <img src="/uploads/{{produit.produit.illustration}}" alt="" width="100px">
                </th>
                <td>
                    {{produit.produit.name}}

                </td>
                <td>
                <a href="{{path('sub-to-cart',{'id':produit.produit.id})}}">
                <img src="{{asset('assets/img/moins.png')}}"  height="40px" alt="">
                </a>
                {{produit.quantity}}
                {# on met que product.quantity car quantity est comme le deuxieu produit un clé dans un tableau   #}
                <a href="{{path('add-to-cart',{'id':produit.produit.id})}}">
                <img src="{{asset('assets/img/plus.png')}}" height="40px"  alt="">
                </a>
                </td>
                <td>
                {{(produit.produit.price / 100) | number_format(2,'.' )}}€
                </td>
                <td>
                {{((produit.produit.price)*(produit.quantity) /100) | number_format(2,'.')}}€
                <a href="{{path('delete-to-cart',{'id':produit.produit.id})}}">
                <img src="{{asset('assets/img/effacer.png')}}" height="40px" alt="">
                </a>
                </td>

            </tr>
            {% set Quantité = Quantité +(produit.quantity)%}
            {% set total = total+((produit.produit.price)*(produit.quantity))%}
            {% endfor %}
        </tbody>

    </table>

    <div class="text-right mb-5">
    <b>Vous avez  {{ cart|length }} produit different</b><br>
    <b>Pour une totalite de {{Quantité}} de produits</b><br>
    <b>Total de mon panier : {{(total / 100)|number_format(2, ',')}} €</b>
    <br>
    <a href="" class="btn btn-success btn-block mt-3">Valider mon panier</a>
</div>

{% endblock %}
